<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highstock Example</title>

		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<style type="text/css">
			$ {
				demo.css
			}
		</style>
		<script type="text/javascript">
			$(function() {
				var seriesOptions = [];
				seriesCounter = 0,
					names = ['GOOG'],
					// create the chart when all data is loaded
					createChart = function() {
						$('#container1').highcharts('StockChart', {
							rangeSelector: {
								selected: 4
							},
							yAxis: {
								labels: {
									formatter: function() {
										return (this.value > 0 ? ' + ' : '') + this.value + '%';
									}
								},
								plotLines: [{
									value: 0,
									width: 2,
									color: 'silver'
								}]
							},
							xAxis: {
								tickPosition: [0, 2, 4, 6, 8, 10]
							},
							plotOptions: {
								series: {
									compare: 'percent',
									pointStart: Date.UTC(2015, 1, 1, 9, 30, 0),
									pointInterval: 1800 * 1000,
									categories: ['Apples', 'Bananas', 'Oranges']
								}
							},
							series: seriesOptions
						});
					};
				$.each(names, function(i, name) {
					seriesOptions[i] = {
						name: name,
						data: [49.9, 71.5, -106.4, 129.2, -144.0, 176.0, 135.6, 148.5, 216.4, 194.1, -95.6, 54.4]
					};
					// As we're loading the data asynchronously, we don't know what order it will arrive. So
					// we keep a counter and create the chart when all the data is loaded.
					seriesCounter += 1;
					if (seriesCounter === names.length) {
						createChart();
					}
				});
			});
			$(function() {
				$('#container').highcharts({
					chart: {},
					xAxis: {},
					rangeSelector: {
								selected: 4
							},
					yAxis: {
						labels: {
							formatter: function() {
								return (this.value > 0 ? ' + ' : '') + this.value + '%';
							}
						},
						plotLines: [{
							value: 0,
							width: 2,
							color: 'silver'
						}]
					},
					plotOptions: {
						series: {
							showCheckbox: true,
							compare: 'percent',
							pointStart: Date.UTC(2015, 1, 1, 9, 30, 0),
							pointInterval: 1800 * 1000,
						},
						line: {
							events: {
								checkboxClick: function(event) {
									if (event.checked == true) {
										this.show();
									} else {
										this.hide();
									}
								},
								legendItemClick: function(event) { //return false 即可禁用LegendIteml，防止通过点击item显示隐藏系列
									return false;
								}
							}
						}
					},
					series: [{
						data: [29.9, -71.5, 106.4, -129.2, 144.0, -176.0, 135.6, 148.5, -54.4],
						visible: true //默认不显示
					}, {
						data: ["a", "", "", "", "", "", "", "", "", "", "", ""],
						selected: false //默认checkbox勾选
					}]
				});
			});
		</script>
	</head>

	<body>
		<script src="../js/highstock.js"></script>

		<div id="container" style="height: 400px; min-width: 310px"></div>
	</body>

</html>